body {
    --text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    font-size: 1.8em;
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    background: white;
    background: url("./Images/jess-bailey-l3N9Q27zULw-unsplash.jpg");
    background-size: cover;
}

h1,
p {
    font-family: 'Passion One', cursive;
    color: hsl(266, 15%, 32%);
    text-align: center;
}

canvas {
    border: 30px solid hsl(290, 46%, 29%);
    ;
    border-radius: 10px;
    /* Set the width and height to half the actual size so it doesn't look pixelated */
    width: 800px;
    height: 500px;
    background: white;
}

.shake {
    color: white;
    background: #b200d6;
    padding: 1rem;
    border: 0;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 40px;
    font-size: 1.15rem;
}

canvas.shake {
    animation: shake 0.5s linear 1;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}